{
    "semi": false,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 150,
    "endOfLine": "auto",
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always"
  }