<!DOCTYPE html>
<html lang="zh-CN" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>easygen - 简单易用的代码生成器</title>
    <link rel="icon" href="/favicon.ico" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="js/element-ui/index.css" rel="stylesheet" />
    <link href="js/highlight/vs.min.css" rel="stylesheet" />
    <script src="js/common.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/element-ui/index.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/highlight/highlight.min.js"></script>
    <script src="js/highlight/languages/go.min.js"></script>
    <script src="js/highlight/languages/cs.min.js"></script>
    <script src="js/highlight/languages/javascript.min.js"></script>
    <script src="js/clipboard.min.js"></script>
  </head>
  <body>
    <div id="app" class="app-wrapper" v-cloak>
      <el-container :style="{height:clientHeight + 'px'}">
        <el-header ref="header" class="app-header">
          <div style="height: 65px; line-height: 65px">
            <div class="logo">easygen</div>
            <div style="float: left; margin-left: 150px">
              <el-button
                @click="showProviderDialog"
                icon="el-icon-s-tools"
                title="切换数据源"
                circle
              ></el-button>
              <el-button
                @click="getTables"
                icon="el-icon-refresh"
                title="重新加载表"
                circle
              ></el-button>
              <el-button
                v-show="code"
                icon="el-icon-copy-document"
                class="copy_code"
                title="复制代码"
                circle
                :data-clipboard-text="source"
              ></el-button>
            </div>
            <div style="float: right">
              <el-cascader
                ref="cascader"
                :options="templates"
                :props="{label: 'name', value: 'name'}"
                @change="selectTemplate"
                placeholder="请选择代码模板"
              ></el-cascader>
              <el-button type="primary" @click="generate">生成代码</el-button>
              <el-popover
                v-if="form.env && form.env.length > 0"
                placement="bottom"
                title="自定义变量"
                width="400"
                trigger="click"
              >
                <el-form>
                  <el-form-item :key="i" v-for="(item,i) in form.env">
                    <el-col :span="4"> {{item.label}} </el-col>
                    <el-col class="line" :span="2">&nbsp;</el-col>
                    <el-col :span="16">
                      <el-input
                        v-model="item.value"
                        placeholder="值"
                      ></el-input>
                    </el-col>
                  </el-form-item>
                </el-form>
                <el-button
                  slot="reference"
                  icon="el-icon-collection-tag"
                  title="自定义变量"
                  ><span
                    style="color: red"
                    v-if="this.form.env && this.form.env.length >0"
                    >{{this.form.env.length}}</span
                  ></el-button
                >
              </el-popover>
            </div>
          </div>
        </el-header>
        <el-container>
          <el-aside class="sidebar" :style="{height:mainHeight + 'px'}">
            <el-tree
              :data="tables"
              node-key="id"
              @node-click="selectTable"
              highlight-current
              default-expand-all
            >
            </el-tree>
          </el-aside>
          <el-main class="app-main" :style="{height:mainHeight + 'px'}">
            <pre
              v-highlight
              v-show="code"
            ><code :class="form.lang" v-html="code"></code></pre>
          </el-main>
        </el-container>
      </el-container>
      <el-dialog
        title="连接数据库"
        :visible.sync="providerDialog.show"
        :close-on-click-modal="false"
        width="500px"
      >
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="数据源">
            <el-select
              v-model="providerDialog.form.driver"
              placeholder="请选择数据源"
            >
              <el-option label="mysql" value="mysql"></el-option>
              <el-option label="mssql" value="mssql"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="host">
            <el-input v-model="providerDialog.form.host" clearable></el-input>
          </el-form-item>
          <el-form-item label="username">
            <el-input
              v-model="providerDialog.form.username"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item label="password">
            <el-input
              type="password"
              v-model="providerDialog.form.password"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item label="database">
            <el-input
              v-model="providerDialog.form.database"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item label="prefixes">
            <el-input
              v-model="providerDialog.form.prefixes"
              clearable
            ></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="providerDialog.show = false">取消</el-button>
          <el-button type="primary" @click="createProvider">确定</el-button>
        </span>
      </el-dialog>
    </div>
    <script>
      Vue.directive("highlight", {
        deep: true,
        componentUpdated: function componentUpdated(el, binding) {
          let blocks = el.querySelectorAll("code");
          blocks.forEach((b) => {
            hljs.highlightBlock(b);
          });
        },
      });

      Vue.prototype.getViewportSize = function () {
        return {
          width:
            window.innerWidth ||
            document.documentElement.clientWidth ||
            document.body.clientWidth,
          height:
            window.innerHeight ||
            document.documentElement.clientHeight ||
            document.body.clientHeight,
        };
      };

      new Vue({
        el: "#app",
        data: function () {
          return {
            clientHeight: 0,
            headerHeight: 0,
            mainHeight: 0,
            visible: false,
            form: {
              table: null,
              lang: null,
              template: null,
              env: {},
            },
            providerDialog: {
              show: false,
              form: {
                driver: null,
                host: null,
                username: null,
                password: null,
                database: null,
              },
            },
            tables: [],
            templates: [],
            code: "",
            source: "",
          };
        },
        async created() {
          let res = await api_hasProvider();
          if (res.data === false) {
            this.showProviderDialog(true);
          } else {
            this.getTables();
          }

          this.getTemplates();
          this.initCopy();
        },
        mounted() {
          this.handleResize();
          window.addEventListener("resize", this.handleResize);
        },
        beforeDestroy() {
          window.removeEventListener("resize", this.handleResize);
        },
        methods: {
          handleResize() {
            this.clientHeight = this.getViewportSize().height;
            this.headerHeight = this.$refs.header.$el.offsetHeight;
            this.mainHeight = this.clientHeight - this.headerHeight;
          },
          initCopy() {
            let c = new ClipboardJS(".copy_code");
            c.on("success", () => {
              this.$message.success("复制成功");
            });
            c.on("error", () => {
              this.$message.error("复制失败");
            });
          },
          async showProviderDialog(loadConfig) {
            if (loadConfig === true) {
              let res = await api_getConfig();
              if (res.code === 1) {
                this.providerDialog.form = res.data;
              }
            }

            this.providerDialog.show = true;
          },
          async createProvider() {
            let res = await api_createProvider(this.providerDialog.form);
            if (res.code === 0) {
              return this.$message.error(res.msg);
            }

            this.getTables();
            this.providerDialog.show = false;
          },
          async getTemplates() {
            let res = await api_getTemplates();
            if (res.code === 0) {
              return this.$message.error(res.msg);
            }

            this.templates = res.data;
          },
          async getTables() {
            let res = await api_getTables();
            if (res.code === 0) {
              return this.$message.error(res.msg);
            }
            if (res.code === 400) {
              return this.showProviderDialog();
            }

            this.tables = [];
            res.data.forEach((item, index) => {
              this.tables.push({ id: index, label: item });
            });
          },
          selectTemplate(data) {
            let node = this.$refs.cascader.getCheckedNodes()[0];
            this.form.lang = node.data.lang;
            this.form.template = node.data.template;
            this.form.env = node.data.env;
            console.log(this.form);
          },
          selectTable(data) {
            this.form.table = data.label;
          },
          async generate() {
            if (this.form.table === null)
              return this.$message.warning("请选择要生成代码的表");

            if (this.form.template === null)
              return this.$message.warning("请选择代码的模板");

            let data = JSON.parse(JSON.stringify(this.form));
            if (data.env) {
              let env = {};

              data.env.forEach((item) => {
                env[item.key] = item.value;
              });

              data.env = env;
            }

            let res = await api_generate(data);
            if (res.code === 0) {
              return this.$message.error(res.msg);
            }
            if (res.code === 400) {
              return this.showProviderDialog();
            }

            this.source = res.data;
            this.code = htmlEscape(res.data);
          },
        },
      });
    </script>
  </body>
</html>
